<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="codexp.br.senai.sp.quick_mentoring_mobile">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".views.CadastroUsuarioActivity" />
        <activity android:name=".views.LoginActivity" />
        <activity
            android:name=".views.mentor.HomeMentorActivity"
            android:label="@string/title_activity_home_mentor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.mentorado.HomeMentoradoActivity"
            android:label="@string/title_activity_home_mentorado"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".views.mentor.CadastrarMentoriaActivity" />
        <activity android:name=".views.mentorado.VisualizarMentoria"></activity>
    </application>

</manifest>
